@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "JetBrains Mono", monospace;
}

/*
  My hot take on the "Next.js vertical image on horizontal screen" problem.
    Apply .vertical-image-div to a div wrapped outside
    <Image className="vertical-image" layout="fill"> tag.
 */
.vertical-image-div > div {
  position: unset !important;
}

/* This is hard-coded, which is *probably* not good(?) */
@screen md {
  .vertical-image-div > div {
    position: absolute !important;
  }
}

.vertical-image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

// Anchor scroll offset
:target {
  scroll-margin-top: 5rem;
}

// Styling ToC's generated elements
.toc {
  ul ul {
    padding-left: 2ch;
  }

  li {
    &::before {
      content: "[x] ";
      @apply text-indigo-600 dark:text-indigo-600 font-bold;
    }
  }

  .tocActive {
    &::before {
      content: "[v] ";
      @apply text-green-600 dark:text-green-600 font-bold;
    }
  }
}
